$font-stack: Lato, sans-serif;
$break-medium: 512px;
$break-large: 768px;

html {
  font-size: 20px;
  font: 100% $font-stack;
  color: white;
  background-image: url("../img/moon_landing_portrait.png");
  background-color: rgba(0,0,0,.25);
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: $break-large) {
    background-image: url("../img/moon_landing.png");
  }
}

a {
  text-decoration: none;
  color: orange;
}

a:hover{
  color: white;
}

.content {
  font-size: 20px;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: rgba(0,0,0,.5);
  @media screen and (min-width: $break-medium) {
    flex-direction: row;
    margin-top: 15%;
    font-size: 20px
  }
}

.l-col {
  padding: 10px;
  @media screen and (min-width: $break-medium) {
    flex: 1;
  }
}

.r-col {
  padding: 0 10px 20px;
  @media screen and (min-width: $break-medium) {
    flex: 3;
    padding: 20px 10px 20px;
  }
  p {
    padding: 0 10px;
  }
  h2 {
    margin: 5px auto;
    padding: 0 10px;
    a {
      padding-left: 25px;
    }
  }
}

#face-pic {
  border-radius: 100%;
  width: 100%;
}

.soc-link {
  width: 40px;
  margin-right: 2.5%;
  padding-top: 10px;
  margin: 0 auto;
}
